* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body
a {
  text-decoration: none; }

.infocast-banner {
  background-image: url(../assets/imgs/header.png);
  background-size: cover;
  height: 100vh;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 90% 96%, 88% 100%, 67% 100%, 64% 93%, 0 93%);
  clip-path: polygon(0 0, 100% 0, 100% 96%, 90% 96%, 88% 100%, 67% 100%, 64% 93%, 0 93%); }
  .infocast-banner header {
    margin: 0 10%; }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Montserrat', sans-serif; }
  .navbar__logo {
    height: 20vh; }
  .navbar__links {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 30px; }
  .navbar__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem 1rem;
    list-style: none; }
    .navbar__item a {
      color: #FFF;
      font-size: 0.8rem; }
    .navbar__item:hover a {
      font-weight: 700; }
    .navbar__item:hover .bar {
      background-color: #730BD2; }

.navbar-hamburguer {
  display: none; }

.bar {
  margin-top: 10px;
  width: 20px;
  background-color: transparent;
  height: 3px;
  border: none; }

@media (max-width: 1024px) {
  .navbar {
    display: none; }

  .navbar-hamburguer {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .navbar-hamburguer__logo {
      height: 16vh; }
    .navbar-hamburguer__icone {
      height: 7vh; } }
.slide {
  margin: 0 20px;
  width: 70vw; }
  .slide__cover {
    height: 170px;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center; }

.row-1 {
  height: 28%;
  display: flex; }
  .row-1__col-1 {
    width: 21%;
    border-top: 2px solid #FF5050;
    border-left: 2px solid #FF5050; }
  .row-1__col-2 {
    width: 79%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem; }

.row-2 {
  height: 23%;
  display: flex; }

.row-3 {
  height: 49%;
  display: flex; }
  .row-3__col-1 {
    width: 16%;
    justify-content: center; }
  .row-3__col-2 {
    width: 79%;
    justify-content: start; }
  .row-3__col-3 {
    width: 5%;
    border-right: 2px solid #FF5050;
    border-bottom: 2px solid #FF5050; }

.nav-podcast {
  display: flex;
  justify-content: space-between;
  margin-top: 0.3rem; }
  .nav-podcast__links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem; }

.podcast-link a {
  text-decoration: none;
  color: #ffffff;
  padding: 0.2rem 1rem;
  border-radius: 2px;
  display: flex;
  align-items: center;
  border: 1px solid #A03232;
  margin-left: 1.6rem; }
.podcast-link img {
  height: 2vh;
  margin-right: 0.3rem; }

.btn-info {
  display: flex;
  align-items: center;
  border: none;
  padding: 0.7rem;
  font-family: 'Montserrat', sans-serif;
  border-radius: 0.1rem;
  background-color: #fff;
  color: #ff3f40;
  font-weight: 700;
  font-size: 0.7rem;
  cursor: pointer; }

.modal {
  display: none;
  width: 100%;
  overflow: auto; }

.modal-podcast__content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 100%; }

/*# sourceMappingURL=style.css.map */
