
/* FACEGROUP */


.facegroup {
    background-image: url('../assets/imgs/team2.png');
    background-size: cover;
    // -webkit-clip-path: polygon(0 1%, 4% 1%, 7% 7%, 27% 7%, 31% 1%, 61% 1%, 62% 0, 77% 0, 78% 1%, 100% 1%, 100% 30%, 87% 30%, 79% 16%, 67% 16%, 56% 35%, 74% 66%, 94% 66%, 98% 60%, 100% 60%, 100% 98%, 93% 98%, 92% 100%, 77% 100%, 76% 98%, 0 98%, 0% 89%, 8% 89%, 19% 70%, 13% 59%, 0% 59%);
    // clip-path: polygon(0 1%, 4% 1%, 7% 7%, 27% 7%, 31% 1%, 61% 1%, 62% 0, 77% 0, 78% 1%, 100% 1%, 100% 30%, 87% 30%, 79% 16%, 67% 16%, 56% 35%, 74% 66%, 94% 66%, 98% 60%, 100% 60%, 100% 98%, 93% 98%, 92% 100%, 77% 100%, 76% 98%, 0 98%, 0% 89%, 8% 89%, 19% 70%, 13% 59%, 0% 59%);
}

.facegroup__container{
    text-align: center;
    padding: 50px 70px;
    color: white;
}

.facegroup__title{
    font-family: 'Space Mono', monospace;
    font-size: 28px;
}

.facegroup__subtitle {
    font-family: "Montserrat", sans-serif;
    width: 66%;
    margin: 26px auto 14px;
}

.facegroup__comment {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    
}

.facegroup__form{
    display: inline;
}

.facegroup__btn {
    display: flex;
    margin: 48px auto;
    background-color: white;
    padding: 0px 18px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 2px;
}


.facegroup__imag{
    width: 22px;
    margin: 14px 10px;
}

.facegroup__prg{
    font-family: 'Montserrat', sans-serif;
    display: inline;
    font-size: 14px;
    font-weight: 600;
    color: #730bd2;
    margin-top: 17px;
}

@media (max-width: 1024px){

    .facegroup__img{
            width: 160%;
            margin-left: -155px;
            
        }
        .facegroup__title{
            top: 18%;
            font-size: 43px;
            width: 100%;
        }
        .facegroup__subtitle {
            font-size: 28px;
            letter-spacing: 1px;
            line-height: 48px;
            margin: 52px auto 21px;
            width: 86%;
        }
        .facegroup__comment {
            top: 58%;
            font-size: 30px;
            padding: 0 0 119px -32px;
            width: 100%;
        }
        .facegroup__btn {
            display: flex;
            padding: 0px 30px;
            top: 79%;
            border-radius: 4px;
        }
    
        .facegroup__prg {
            font-size: 20px;
            margin: 21px 3px;
            width: 206px;
        }
        .facegroup__imag {
            width: 25px;
            margin: 22px 7px 0px 5px;
        }
}

@media (max-width: 768px){
    .facegroup__subtitle {
           font-size: 24px;
           margin: 43px auto 21px;
       }
   
       .facegroup__comment {
           font-size: 26px;
       }
   
       .facegroup__btn {
           padding: 2px 28px;
           margin-top: 74px;
       }
    }  
   
   @media (max-width: 425px){
   
   .facegroup__title {
           font-size: 32px;
           width: 100%;
       }

       .facegroup__subtitle{
           font-size: 22px;
       }

       .facegroup__comment {
           display: none;
       }

       .facegroup__btn {
           margin: 47px auto;
           padding: 0px 21px;
       }

       .facegroup__prg {
           font-size: 17px;
           margin: 21px auto;
           width: 175px;
       }

       .facegroup__prg {
           font-size: 17px;
           margin: 21px auto;
           width: 175px;
       }
           
   }