/*section speakers*/

/*configuração do clip path da section speakers*/
.speakers {
    padding-top: 100px;
    margin-top: -125px;
    // min-height: 100vh;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        background-color: #ff5050;
        background-size: cover;
        background-position: center;
        z-index: 0;
        -webkit-clip-path: polygon(0 1%, 4% 1%, 7% 7%, 27% 7%, 31% 1%, 61% 1%, 62% 0, 77% 0, 78% 1%, 100% 1%, 100% 30%, 87% 30%, 79% 16%, 67% 16%, 56% 35%, 74% 66%, 94% 66%, 98% 60%, 100% 60%, 100% 98%, 93% 98%, 92% 100%, 77% 100%, 76% 98%, 0 98%, 0% 89%, 8% 89%, 19% 70%, 13% 59%, 0% 59%);
        clip-path: polygon(0 1%, 4% 1%, 7% 7%, 27% 7%, 31% 1%, 61% 1%, 62% 0, 77% 0, 78% 1%, 100% 1%, 100% 30%, 87% 30%, 79% 16%, 67% 16%, 56% 35%, 74% 66%, 94% 66%, 98% 60%, 100% 60%, 100% 98%, 93% 98%, 92% 100%, 77% 100%, 76% 98%, 0 98%, 0% 89%, 8% 89%, 19% 70%, 13% 59%, 0% 59%);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        @media (max-width: 1000px) {
            -webkit-clip-path:polygon(0% 0%,4%0%,7%1%,27% 1%,30% 0%,61% 0%,62% 0%,77% 0%,78% 0%,100% 0%,100% 37%,67% 37%,47% 31%,17% 31%,0% 35%,0% 44%,26% 51%,87% 51%,96% 49%,100% 49%,100% 100%,93% 100%,92% 100%,77% 100%,76% 100%,0% 100%);
            clip-path:polygon(0% 0%,4%0%,7%1%,27% 1%,30% 0%,61% 0%,62% 0%,77% 0%,78% 0%,100% 0%,100% 37%,67% 37%,47% 31%,17% 31%,0% 35%,0% 44%,26% 51%,87% 51%,96% 49%,100% 49%,100% 100%,93% 100%,92% 100%,77% 100%,76% 100%,0% 100%);
        }
    }
    &__container {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        max-width: 1280px;

        @media(max-width: 1280px) {
            width: 95%;
         }

        @media(max-width: 1000px) {
           flex-direction: column;
        }
    }

    /*title*/
    &__title {
        display: block;
        margin: 0 auto;
        color: #fff;
        text-align: center;
        z-index: 3;
        position: relative;
        margin-bottom: 50px;
    }
}

.profile__mobile {
    display: none;

    @media(max-width: 1000px) {
        display: flex;
    }
}

.speakers__col-1,
.speakers__col-2 {
    width: 50%;
    margin: 0;
}

.speakers__col-2 {
    margin-top: 200px;
    margin-left: -200px;

    @media(max-width: 1000px) {
        margin-top: 250px;
    }
}

.speakers__layout-profile {
    margin-bottom: 100px;

    @media(max-width: 1000px) {
        margin-bottom: 65px;
    }
}

/*box de contifuração todo o conteudo de cada profile*/
.speakers__layout-profile-1,
.speakers__layout-profile-2,
.speakers__layout-profile-3,
.speakers__layout-profile-4 {
    display: flex;
    justify-content: space-between;  

    @media(max-width: 1000px) {
        flex-direction: column;
    }
}

/*configuração de positions das divs e depois das imagens*/
.speakers__layout-profile_img-01,
.speakers__layout-profile_img-02,
.speakers__layout-profile_img-03,
.speakers__layout-profile_img-04 {
    position: relative;
    height: 320px;
    
    img  {
        position: absolute;

        @media(max-width: 1000px) {
            left: calc(50% - 160px);
        }

        @media(max-width: 425px) {
            margin-left: 0;
            left: 0;
        }
    }
}


/*configuração das margens das fotos de cada coluna*/
.speakers__layout-profile_img-01,
.speakers__layout-profile_img-02,
.speakers__layout-profile_img-03,
.speakers__layout-profile_img-04 {
    margin: 0;
    z-index: 0;
}


/*configurações dos hovers*/
.speakers__front-img {
    z-index: 4;
    width: 320px;
}

.speakers__back-img {
    z-index: 3;
    width: 320px;
    opacity: 0;
}

.speakers__layout-profile_img-01:hover .speakers__front-img,
.speakers__layout-profile_img-02:hover .speakers__front-img,
.speakers__layout-profile_img-03:hover .speakers__front-img,
.speakers__layout-profile_img-04:hover .speakers__front-img {
    opacity: 0.1;
}

.speakers__layout-profile_img-01:hover .speakers__back-img,
.speakers__layout-profile_img-02:hover .speakers__back-img,
.speakers__layout-profile_img-03:hover .speakers__back-img,
.speakers__layout-profile_img-04:hover .speakers__back-img {
    opacity: 1;
}


/*configuração dos textos*/
.speakers__layout-profile_text {
    width: 45%;
    color:#fff;
    font-size: 0.9rem;
    line-height: 25px;
    margin-top: 15px;
    z-index: 1;

        @media (max-width: 1000px) {
            display: block;
            width: 60%;
            margin: 0 auto;
            font-size: 0.80rem;
        }

        @media (max-width: 425px) {
            width: 90%;
        }

    /*configuração dos títulos*/
     h2 {
        font-weight: 200;
        line-height: 35px;
        font-size: 1.9rem;
    }

    /*configuração do texto colorido*/
    &.color {
        color: #ff5050;
    }
}

/*configuração ícones links*/
.speakers__layout-profile__links img {
    width: 33px;
    margin: 15px 7px 0 0;
}


/*configuração linha abixo do título*/
.layout__line {
    border-bottom: 4px solid white;
    width: 25px;
    margin: 15px 0;

    &-color{
        border-bottom: 4px solid #ff5050;
        width: 25px;
        margin: 15px 0;
    }
}

@media (max-width: 1000px) {
    .speakers__col-1,
    .speakers__col-2 {
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 1000px) {
    .speakers__layout-profile-3 {
        margin-bottom: 110px;
    }
    .teste {
        display: none;
    }
}

// @media (max-width: 1000px) {
//     .speakers__layout-profile-3,
//     .speakers__layout-profile-4 {
//         margin-top: 102px;
//     }
// }







