<<<<<<< HEAD
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    font-size: 2.3rem;
    font-family: 'Space Mono', monospace;   
}
=======
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body 


a{
    text-decoration: none;
}
>>>>>>> add slider
